.wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.content {
  flex: 1;
}
.extraContent {
  min-width: 240px;
  text-align: right;

}
.content.padding {
  padding-left: 40px;
}
.content .description {
  display: table;
}
.description .term {
  display: table-cell;
  margin-right: 8px;
  padding-bottom: 8px;
  white-space: nowrap;
  line-height: 20px;
}
.description .term:after {
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
  content: ":";
}
.description .detail {
  display: table-cell;
  padding-bottom: 8px;
  width: 100%;
  line-height: 20px;
}

.ik-form{
  min-width:500px;
  margin: 0 auto;
}