.ant-pagination {display: none!important;}
.ant-table-footer {
    display: flex;
    justify-content: flex-end;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin: 0 0px;
  padding: 24px;
  background-color: #fff;
}

