@import url("/css/mp.css"); 
@import url("/css/mp_2.css"); 
@import url("/css/mp_3.css"); 
@import url("/css/mp_4.css"); 
/*@import url("/css/mp_elements.css");*/

/*@import url("/css/mp_touched.less"); */

@font-face {
    font-family: "Proxima Nova";
    font-weight: 300;
    font-style: normal;
    src: url(/fonts/proxima-nova/proximanova-light.woff2) format("woff2"), url(/fonts/proxima-nova/proximanova-light.woff) format("woff"), url(/fonts/proxima-nova/proximanova-light.ttf) format("truetype")
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/proxima-nova/proximanova-regular.woff2) format("woff2"), url(/fonts/proxima-nova/proximanova-regular.woff) format("woff"), url(/fonts/proxima-nova/proximanova-regular.ttf) format("truetype")
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 600;
    font-style: normal;
    src: url(/fonts/proxima-nova/proximanova-semibold.woff2) format("woff2"), url(/fonts/proxima-nova/proximanova-semibold.woff) format("woff"), url(/fonts/proxima-nova/proximanova-semibold.ttf) format("truetype")
}

.ant-page-header {
  background-color: #ffffff;
}

.dashboard_page_content
, .dashboard_page_header_wrap{
	margin: 0px auto;
	width:500px;
 	padding: 24;
	background: '#fff';
}

.dashboard_page_header_wrap .ant-statistic-content{
	text-align: center!important;
}



/*HACK FOR FILTERS*/
.filter_form.ant-form-inline{
  display: flex!important;
  flex-direction: row!important;
  justify-content: flex-end!important;
}
.filter_form.ant-form-inline .ant-form-item{
  display: flex!important;
  flex-direction: column!important;
  justify-content: flex-start!important;

}
.filter_form .ant-form-item-label{
  text-align: left!important;
}

/* form styling */
h3.fileds_header{
  padding-left: 50px;
  margin-top:20px;
}


/*HACK FOR TABLES*/
.ant-divider-horizontal {
    margin: 6px 0 !important;

}

.row_tx_description{
  font-size: 16px;
  font-weight: 600;
}

/*
* HACK for SELECT CONTROLS
*/

.money-transfer__select .ant-select-selection, .money-transfer__row .ant-select-selection
,.money-transfer__select .ant-input:hover, .money-transfer__row .ant-input:hover{
  border:none!important;
}
.money-transfer__select .ant-select-focused .ant-select-selection, .money-transfer__select .ant-select-selection:focus, .money-transfer__select .ant-select-selection:active
, .money-transfer__row .ant-select-focused ,.money-transfer__row .ant-select-selection:focus, .money-transfer__row .ant-select-selection:active
, .money-transfer__select .ant-input:hover, .money-transfer__row .ant-input:hover
{
  box-shadow: none!important;
}


.money-transfer__select .ant-select, .money-transfer__row .ant-select{
  font-size: 15px!important;
}
.money-transfer__select .ant-select-selection__rendered , .money-transfer__row .ant-select-selection__rendered{
    margin-left: 0px!important;
}

.ant-upload.ant-upload-disabled  .anticon{
  color:gray!important;
}
.ant-upload.ant-upload-disabled .ant-upload-text{
  color:gray!important;
}


.select-price__currency .ant-select-selection-selected-value
{
  font-size:40px ;  
}

.request_details_title
{
  font-weight: 600!important;
  font-size: 1.6em;
  line-height: 1.6em;
}

/* FONTAWESOME Icons for transactions */
.icon_color_default { color:#1890ff; }
.icon_color_green   { color:#3db389; }

.flex_row{
    display: flex;
    align-items: center;
    flex-direction: row!important;
    justify-content: flex-start;
    overflow:hidden;
}
.display_block{display:block!important;}
.display_block.addresse-avatar{top:0px;}