@import url("/css/mp.css"); 
@import url("/css/mp_2.css"); 
@import url("/css/mp_3.css"); 
@import url("/css/mp_4.css"); 
/*@import url("/css/mp_elements.css");*/

/*@import url("/css/mp_touched.less"); */

@font-face {
    font-family: "Proxima Nova";
    font-weight: 300;
    font-style: normal;
    src: url(/fonts/proxima-nova/proximanova-light.woff2) format("woff2"), url(/fonts/proxima-nova/proximanova-light.woff) format("woff"), url(/fonts/proxima-nova/proximanova-light.ttf) format("truetype")
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/proxima-nova/proximanova-regular.woff2) format("woff2"), url(/fonts/proxima-nova/proximanova-regular.woff) format("woff"), url(/fonts/proxima-nova/proximanova-regular.ttf) format("truetype")
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 600;
    font-style: normal;
    src: url(/fonts/proxima-nova/proximanova-semibold.woff2) format("woff2"), url(/fonts/proxima-nova/proximanova-semibold.woff) format("woff"), url(/fonts/proxima-nova/proximanova-semibold.ttf) format("truetype")
}

@font-face {
    font-family: "Omnes";
    font-weight: 400;
    font-style:  normal;
    src: url(/fonts/omnes-font/07dc45de3c2d37fcd503045055b2253b.woff2) format("woff2"), url(/fonts/omnes-font/07dc45de3c2d37fcd503045055b2253b.woff) format("woff"), url(/fonts/omnes-font/07dc45de3c2d37fcd503045055b2253b.ttf) format("truetype")
}


.ant-page-header {
  background-color: #ffffff;
}

/*.ant-page-header.has-footer{
  padding-bottom:12px;
}
*/
.dashboard_page_content
, .dashboard_page_header_wrap{
	margin: 0px auto;
	width:500px;
 	padding: 24;
	background: '#fff';
}

/*.ant-menu-sub.ant-menu-inline > .ant-menu-item
, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title */
.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title
{
  text-transform:uppercase;
}

.dashboard_page_header_wrap .ant-statistic-content{
	text-align: center!important;
}

/* HACK FOR PAGEHEADER */

.ant-pro-global-header{
  position:relative;
}
span.view_requests{
  line-height: 26px;
  color: rgba(0, 0, 0, 0.85)
}
.ant-page-header-ghost {background-color: #fff!important;}

/* form styling */
h3.fileds_header{
  padding-left: 50px;
  margin-top:20px;
}


/* *********************** */

/*HACK FOR TABLES*/

/*.ant-table-title{
  min-height: 56px;
}*/

.react-resizable
, .vertical_align_top .react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle
, .vertical_align_top .react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}

.vertical_align_top tr{
  vertical-align: top;
}
.vertical_align_top th{
  vertical-align: middle;
  border-right: 1px solid #e8e8e8;
}
.ant-table-row.odd{
  background-color:#F9F9F9;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td:not(.amount_col) {
    padding: 8px 8px!important;
    /*overflow-wrap: break-word;*/
}


.ant-table-row.unconfirmed{
  background-color:rgba(255, 0, 0, 0.2);
}

.amount_col{
  padding-right: 0px!important;
  padding-left: 0px!important;
  width:150px!important;
}

.ant-divider-horizontal {
    margin: 6px 0 !important;
}

.row_tx_title{
  font-size: 16px;
  font-weight: 600;
}

.ant-pagination {display: none!important;}
.ant-table-footer {
    display: flex;
    justify-content: flex-end;
}

.ant-table-body {
    transition: opacity .3s;
    color: rgba(0, 0, 0, .9);
    font-size: 13px;
    font-variant: tabular-nums;
    line-height: 1.5;

}
/* *********************** */


/*
* HACK for SELECT CONTROLS
*/

.money-transfer__select .ant-select-selection, .money-transfer__row .ant-select-selection
,.money-transfer__select .ant-input:hover, .money-transfer__row .ant-input:hover{
  border:none!important;
}

.money-transfer__select .ant-select-focused .ant-select-selection, .money-transfer__select .ant-select-selection:focus, .money-transfer__select .ant-select-selection:active
, .money-transfer__row .ant-select-focused ,.money-transfer__row .ant-select-selection:focus, .money-transfer__row .ant-select-selection:active
, .money-transfer__select .ant-input:hover, .money-transfer__row .ant-input:hover
{
  box-shadow: none!important;
}


.money-transfer__select .ant-select, .money-transfer__row .ant-select{
  font-size: 15px!important;
}
.money-transfer__select .ant-select-selection__rendered , .money-transfer__row .ant-select-selection__rendered{
    margin-left: 0px!important;
}

.ant-upload.ant-upload-disabled  .anticon{
  color:gray!important;
}
.ant-upload.ant-upload-disabled .ant-upload-text{
  color:gray!important;
}


.select-price__currency .ant-select-selection-selected-value
{
  font-size:40px ;  
}

.request_details_title
{
  font-weight: 600!important;
  font-size: 1.6em;
  line-height: 1.6em;
}

/* FONTAWESOME Icons for transactions */
/*.icon_color_default { color:#1890ff; }*/
/*.icon_color_default { color:gray; }*/
.icon_color_default , .icon_color_default .ant-upload-drag-icon { color:rgba(0, 0, 0, 0.99)!important; }
.icon_color_green   , .icon_color_green .ant-upload-drag-icon   { color:#3db389!important; }

.display_block{display:block!important;}
.display_block.addresse-avatar{top:0px;}
.addresse-avatar{top:0px!important;}

/* FORMS -> LABELS are shown if text is not empty ... NOT WORKING! */
.with_labels .money-transfer__row:has(>input:placeholder-shown )  label
{
  background-color: #00ff00!important;
  /*display:none!important;*/
}
.with_labels .money-transfer__row:has(>input:placeholder-shown ) label
{
  display:none!important;
}
.with_labels .money-transfer__row label{
  display:block!important;
  color:rgb(153, 153, 153);
}
.with_labels .money-transfer__row label::before,
.with_labels .money-transfer__row label::after{
  display:none!important;
}

/* AMOUNT DISPLAYS */
.c-ticket__row .c-ticket__title_small
, .c-ticket__row .price-tag_small
, .c-ticket__row .price-tag_small .price-tag.price-tag-symbol
, .c-ticket__row .price-tag_small .price-tag.price-tag-fraction{
  font-weight: 400!important;
  font-size: 1.2em!important;
  line-height: 1.6em!important; 
}


/* PDV */
.circled_action_type{
  line-height: 2.2;
  text-align: center;
}
.flex_center, .flex_row, .flex_column{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
.flex_row{
    flex-direction: row!important;
}
.flex_row_start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow:hidden;
}
.flex_column{
    flex-direction: column!important;
}

.mp-box__shadow__full {
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}


/*EDITABLE TABLES*/
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 4px 11px;
}

.ant-list-item .right{
  display: flex!important;
  flex-direction: row!important;
  justify-content: flex-end!important;
  align-items: flex-start;

}
.ant-list-item .right .last-1{
  margin-right:8px;
}
.ant-list-item .right .last{
  min-width:130px;
  display: flex!important;
  flex-direction: column!important;
  justify-content: flex-end!important;
  align-items: flex-end;
}
.ant-list-item .right .last .money{
  font-weight: bold;
}

.column_editable{
  background-color:#e6f7ff;
}
.column_action{
  background-color:#f2f4f5;
}

.no_label .ant-form-item-label {display:none;}

.c-detail_small {
    width: 600px !important;
    margin: 0 auto;
    padding: 0;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
  }

.c-detail_small .ui-list
, .c-detail_small .ui-row{
  background-color: #f0f0f0!important;
}

.c-detail .ui-list.shorter .ui-row{
  height:40px;
  margin-top:4px;
  margin-bottom:4px;
}
.c-detail .ui-list.shorter .ui-row a
, .c-detail .ui-list.shorter .ui-row a:link
, .c-detail .ui-list.shorter .ui-row a:visited
, .c-detail .ui-list.shorter .ui-row a:active{
  text-decoration: none;
}

.money-transfer__select .ant-select-search--inline .ant-select-search__field{
  line-height: inherit!important;
}

.certain-search-item-count {
  position: absolute;
  color: #999;
  right: 16px;
}

.ant-menu-item{
  padding-left: 36px!important;
}
.is_root_menu{
  padding-left: 24px!important;
}
.ant-table-footer{
  padding: 8px!important;
}


/* pull to refresh :) */

.code-box-actions {
    padding-top: 12px;
    text-align: center;
    border-top: 1px dashed #ebedf0;
    opacity: .7;
    transition: opacity .3s;
}

.code-box-actions:hover
{
  opacity:1
}

.redoButton{
  color: rgba(0,0,0,0.85)!important;
}
.redoButton:hover{
  color: #40a9ff!important;
}

select .anticon {
  color:rgba(0,0,0,1)!important;
}













/*.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title*/
/*.account_menu_item li, ul#accounts_menu_key li{
  height:auto;
  min-height: 40px;
  background-color: #ff6699;
}*/

.account_menu_item .menu_account_container, .menu_account_container{
  display:         flex;
  flex-direction:  column;
  justify-content: flex-start;
  align-items:     flex-start;
  padding-left:    28px; 
  margin-top:      -8px; 
}
.account_menu_item .menu_account_name, .menu_account_name{
  font-weight:     bold;
  text-transform:  lowercase!important;
}

.menu_account_permission{
  font-size:       0.85em;
  line-height:     1em;
}
.menu_account_permission span{
  font-weight:     bold;
}
.menu_account_type{
  font-size:       0.85em;
  line-height:     1em;
}
.menu_account_type span{
  font-weight:     bold;
}



.menu_account_item{
  padding:  16px 8px 16px 24px;
  color:    rgba(0, 0, 0, 0.65);
}

.menu_account_item .anticon{
  min-width: 14px;
  margin-right: 10px;
  color: #000;
}
.menu_account_item .menu_account_name{
  font-size:   18px;
  line-height: 18px;
}
.menu_account_item .menu_account_container{
  padding-left:    28px; 
  margin-top:      4px;
}
.menu_account_item .menu_account_permission{
  font-size:       10px;
  line-height:     10px;
}
.menu_account_item .menu_account_permission span{
  font-weight:     bold;
}
.menu_account_item .menu_account_type{
  font-size:       10px;
  line-height:     10px;
}
.menu_account_item .menu_account_type span{
  font-weight:     bold;
}


.menu_balance_wrapper{
  display:         flex;
  flex-direction:  row;
  justify-content: flex-start;
  align-items:     flex-start;
  padding:16px 8px;
}
.menu_balance_container{
  display:         flex;
  flex-direction:  column;
  justify-content: flex-start;
  align-items:     flex-end;
  flex-grow:       1;
}
.menu_balance_container button{
  font-size: 24px;
}
.menu_balance_currency{
  /*line-height:  40px;*/
  font-size:      12px;
  /*flex-grow:    3;
  text-align:   right; */
}
.menu_balance_container .small{
  font-size:10px;
  line-height:10px;
  padding-right: 5px;
}


.omnes_isologo{
  font-family: Omnes;
  font-size:   20px!important;
  line-height:   20px!important;
  color: rgb(108, 84, 163);
}


.load_more_txs{
  color: rgb(105, 123, 140);
  width: 100%;
  background-color: #f0f0f0;
  margin: 4px 0px;
  font-size: 12px;
  line-height: 10px;
  height: 24px;
}

span.uppercase {text-transform: uppercase;}
span.bold {font-weight: bold;}

div.headerList tr{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}
div.headerList td{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex:1;
}
div.headerList td .ant-descriptions-item-label{ flex:1; }
div.headerList td .ant-descriptions-item-content{flex:3; align-self: flex-start;}


.col_icon_widget {
  display:          flex;
  flex-direction:   row;
  justify-content:  center;
}
.col_icon{flex: 0 0 49px;}
.col_widget{flex:1;}






/* ******************************************************* */
/* SIDE MENU items */
.ant-layout-sider-children ul.ant-menu li.ant-menu-item {
  height: auto;
  min-height: 40px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  /*line-height: 40px;*/
}


.ant-layout-sider-children ul.ant-menu li.ant-menu-item a{
  overflow: hidden;
  overflow-wrap: normal;
  height: auto;
  max-height: 40px;
  line-height: 14px;
}

.ant-layout-sider-children ul.ant-menu li.ant-menu-item a span{
  /*overflow-wrap: normal;*/
  width:100%;
  white-space:normal; 
  line-height: 14px;
}
/* ******************************************************* */




/* MOBILE */

.ant-layout-header {background:#fff; padding:0px;}
.mobile_device .ant-layout-header{
  background-color: rgb(108, 84, 163)!important;
}

.mobile_device .transaction_list.menu_shown{
  min-width: 400px;
}
.mobile_device .transaction_list{
  overflow:hidden;
  background-color:#fff; 
  margin-top: 0px;
  padding: 0px;
  position:relative;
}

.mobile_device .transaction_list .overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  background-color: rgba(0,0,0,0.25);
}

.tx{
  display:flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 7px;
  margin-top: 20px;
  margin-left:8px;
  margin-right:8px;
  min-height: 80px;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.25);
  background-color: #FFF;
  border-color: transparent;

  align-items: stretch;
}

.tx .left_content{
  flex:1;

}
.tx .left_content .type{
  height:100%;
}

.tx .left_content .type .boxed-tx-type{
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  text-align: center;
  height:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tx .left_content .type .boxed-tx-type .boxed_icon{
  color:rgb(108, 84, 163);
}


.tx .main_content{
  padding:8px;
  flex:4;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.tx .main_content .title{
  flex:1;
  color:rgba(57,57,57,0.75);
  font-size: 12px;
}
.tx .main_content .description{
  flex:2;
  font-size: 15px;
  color:rgba(0,0,0,0.9);
  line-height: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.tx .main_content .hint{
  flex:1;
  font-size: 12px;
  color:rgba(57,57,57,0.75);
}

.tx .right_content{flex:1;}
.tx .right_content .amount{
  height:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 4px;
}

.tx .right_content .amount .symbol_amount {}
.tx .right_content .amount .symbol_amount .currency_symbol { font-size: 10px!important; }
.tx .right_content .amount .symbol_amount .quantity {}
.tx .right_content .amount .symbol_amount .quantity .integer_part{font-size: 20px!important;}
.tx .right_content .amount .symbol_amount .quantity .decimal_separator{font-size: 10px!important;}
.tx .right_content .amount .symbol_amount .quantity .deciml_part{font-size: 10px!important;}


.mobile_device .mobile_table_wrapper .end_of_list{
  padding:8px;
  border-radius: 7px;
  margin-top: 10px;
  margin-left: 8px;
  background-color: rgba(57,57,57,0.1);
  text-align: center;
}

.mobile_device .ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-left{
  background-color: rgb(108, 84, 163);
  color:#fff;
}

.mobile_device .back_button {
  margin-left:       14px;
  z-index:           100;
  border-color:      rgb(108, 84, 163);
  background-color:  rgb(108, 84, 163);
  color:             #fff;
}

/*.mobile_device input.money-transfer__input::placeholder
  , .mobile_device input.money-transfer__input::-webkit-input-placeholder
  , .mobile_device input.money-transfer__input::-moz-placeholder
{
  font-size: 100px!important;
  color:#ff0000!important;
}*/

.mobile_device  .input-price input::-webkit-input-placeholder {
    color: #009EE3 !important;
    font-size: 48px !important; }
.mobile_device  .input-price input:-ms-input-placeholder {
    color: #009EE3 !important;
    font-size: 48px !important; }
.mobile_device  .input-price input::-moz-placeholder {
    color: #009EE3 !important;
    font-size: 48px !important; }

/*
  input.placeholder-big::-webkit-input-placeholder {
    font-size: 100px !important; }
  input.placeholder-big:-ms-input-placeholder {
    font-size: 100px !important; }
  input.placeholder-big::-moz-placeholder {
    font-size: 100px !important; }
*/

.mobile_device .__mp-box{
    background: none repeat scroll 0 0 #fff;
    /*margin: 10px auto 0;*/
    max-width: 700px;
    padding: 0;
    position: relative;

    overflow: hidden;
    width: 100%;
    /*padding-top: 40px!important;*/

}
.mobile_device .ant-pro-global-header{
  background-color: rgb(108, 84, 163);
}

.mobile_device .ant-pro-global-header .right button{
  background-color: rgb(108, 84, 163);
  color:#fff;
}

.mobile_table_wrapper{
  padding:8px;
}
.mobile_table_wrapper .ant-table-thead{
  display:none;
}

.balance_wrapper{
  width: 100%;
  height: 100px;
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: #8B10AE;*/
  background-color: rgb(108, 84, 163);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.balance_wrapper .balance_overdraft_hint{
  font-size: 10px;
  color:#fcfcfc;
}
.balance_wrapper .currency_button{
  line-height: 1;
  text-decoration: none;
}
.balance_wrapper .currency_symbol{
  font-size: 28px;
  color:#fff;
}
.balance_wrapper .amount{
  font-size: 28px;
  font-weight: bold;
  color:#fff;

}


.mobile_device .c-detail{
  margin-left:8px;
  margin-right:8px;
  width:calc(100% - 16px);
}

.mobile_device  .price-tag.price-tag-billing {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.mobile_device  .price-tag.price-tag-symbol { 
  font-size:12px;
  line-height:1em;
}

.mobile_device .ui-avatar__content {
  border: 0.0625em solid #1890ff;
    background: #e6f7ff;
    line-height: 40px;
    text-align: center;
}
.mobile_device .ui-avatar__content--initials{
    width: 40px;
    height: 40px;
    font-size: 12px;
    overflow: hidden;
    border-radius: 50%;
    line-height: 40px;
}

.mobile_device .ui-avatar__content{
    width: 40px;
    height: 40px;
    font-size: 12px;
    overflow: hidden;
    border-radius: 50%;
}

.mobile_device .ui-list .shorter .ui-avatar__content{
    width: 20px;
    height: 20px;
    font-size: 8px;
    overflow: hidden;
    border-radius: 50%;
}
.mobile_device .ui-row{
  padding:8px;
}


.mobile_device .transaction_list .action_buttons{
  position: fixed;
  bottom: 100px;
  /*right: calc(50%-16px);*/
  right: 20px;
}

.mobile_device .transaction_list .action_buttons button{
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.25);
  background-color: rgb(108, 84, 163);
  color:#fff;
}
.mobile_device .transaction_list.menu_shown .action_buttons{
  display:none;
}

.mobile_device .money-transfer__row {
  padding: 15px 15px 15px 15px;
}
.send-form-container { 
  margin: 24px 0px 0px 0px ;
  padding: 24px; 
}

.mobile_device .send-form-container { 
  margin: 0px 0px 0px 0px ;
  padding: 8px; 
}

.mobile_device .col_icon{
  flex: 0 0 34px;
  display:none;
}

.mobile_device .send-form-container .money-transfer__input.money-transfer__select{
  border-bottom: 1px solid rgb(57,57,57);
}

.mobile_device .send-form-container textarea.ant-input {
  border-bottom: 1px solid rgb(57,57,57);
}

