/* HACK FOR COLORS AND BUTTONS */
@import '~antd/es/style/themes/default.less';
.danger_color{
  color: color(~`colorPalette('@{error-color}', 5) `);
}

.danger_color:hover{
  color: color(~`colorPalette('@{error-color}', 4) `);
}


/* ROBADO DE MP */
/*div, span, li {
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif ;
  font-weight: 400 ;
  font-size:16px;
  line-height: 1.4 ;
}
*/

.u-button-link {
    color: #009ee3;
    cursor: pointer;
    font-size: 16px;
    border: 0;
    padding: 0;
    background-color: transparent;
    line-height: inherit;
}

/*
* Copied from https://www.mercadopago.com.ar/activities
* List Styles
*/
.l-container {
    max-width: 65.25em;
    padding: 1.5em 2em;
    margin: 0 auto;


}


/*
* Copied from https://www.mercadopago.com.ar/activities
* List Styles
*/
.u-clearfix:after, .u-clearfix:before {
    display: table;
    content: "";

    
}

.c-detail {
    /*width: 40.5em;*/
    width: 700px !important;
    margin: 0 auto;
    padding: 24px 0 0 0;
  
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;

  .ui-row {
    position: relative;
    border-bottom: 0;
  }

  .ui-row:last-child {
      border: 0;
  }

  .ui-info-row--background-gray {
      background-color: #f8f8f8;
  }
}

.c-detail.bottom{
  padding: 8px;
  background-color: #fff;
  text-align: center;

}

/*
.ui-row, .ui-row__link {
    display: flex;
    align-items: center;
    padding: 24px;
    background: #fff;
}
*/

.ui-row__col--heading {
    padding-right: 12px;
}
.ui-row__col--actions, .ui-row__col--heading {
    flex-shrink: 0;
}

.rectangle-avatar {
    padding-right: .25em;
}
.ui-avatar {
    position: relative;
}

.rectangle-avatar .ui-avatar__content--border {
    border: none;
    max-width: 8.75em;
}
.rectangle-avatar .ui-avatar__content {
    border-radius: 0;
    width: inherit;
}
.ui-avatar__content--border {
    border: .0625em solid #ccc;
}

.ui-avatar__content {
    width: 3.125em;
    height: 3.125em;
    font-size: 16px;
    overflow: hidden;
    border-radius: 50%;
}

.ui-avatar__content--small {
    width: 2.5em;
    height: 2.5em;
    font-size: 14px;
    overflow: hidden;
    border-radius: 50%;
}

.rectangle-avatar .ui-avatar__content--border img {
    -o-object-fit: contain;
    object-fit: contain;
}
.ui-avatar__content--img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}




.ui-row__col--content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
}
.ui-info-row--medium .ui-info-row__title {
    font-size: 18px;
}

.ui-info-row__details li {
    display: inline;
}
.ui-info-row__details li {
    /*color: #999;*/
}

/*.ui-info-row__details li:before {
    content: "-";
    padding: 0 .3125em;
}*/

/*
* Header with no style
*/
.c-header-detail{ 
  line-height: 16px ;
  &.padding-top-1em{
    padding-top:0px;
    padding-bottom:0px;
  }
}

.c-header-detail__head {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    padding: 0 0 8px 0;
    /*padding-bottom: 2em;*/
    &.u-clearfix{
      height:auto;
    }
    
}

.c-header-detail__title {
    float: left;
    max-width: 550px;
}

.c-header-detail__actions {
    float: right;
    text-align:right;
    min-width:145px;
    width:auto;
}

/*
* List
*/

.c-ticket-payment .c-ticket__title, .c-ticket-payment .price-tag, .c-ticket-subtotal .c-ticket__title, .c-ticket-subtotal .price-tag {
    font-weight: 400;
    
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ui-list {
    padding: 0;
    /*background: #fff;*/
    overflow: hidden;
    border-radius: .25em;
    box-shadow: 0 0.07em 0.125em 0 rgba(0,0,0,.15);
    overflow: inherit;
    margin-bottom: 12px;

 
    /*
    * ListItem (card)
    */
    li{
      .c-ticket {
          border-radius: .25em .25em 0 0;

          .c-ticket__section:last-child {
              border-bottom: none;
          }
          .c-ticket__section {
              margin: 0 24px;
              padding-bottom: 24px;
              border-bottom: 1px solid #eee;
              
              .c-ticket__item {
                  padding-top: 1.5em;
                  
                  .c-ticket__row {
                      display: flex;
                      justify-content: space-between;
                      flex-wrap: nowrap;
                      
                      .c-ticket__title {
                          font-weight: 300;
                          padding-right: .3125em;
                      }

                      .c-ticket__amount {
                          font-weight: 300;

                          .c-ticket-payment .price-tag, .c-ticket-subtotal .price-tag {
                              font-size: 1.375em;
                          }
                          .price-tag {
                              overflow: visible;
                              display: inline-block;
                              vertical-align: text-bottom;
                              line-height: 1em;
                              
                              .price-tag-symbol {
                                  margin-right: .1em;
                              }
                              .price-tag-cents-text, .price-tag-decimal-separator, .price-tag-symbol-text {
                                  position: absolute;
                                  font-size: 0;
                              }

                              .price-tag * {
                                  float: left;
                              }


                          }
                      }
                  }
              }
          }
      }
      
      .ui-list .ui-row:only-child, .ui-list .ui-row:only-child .ui-row__link {
          border-radius: .25em;
          
      }
    }

}

.hidden{display:none!important;}
.name_value_row
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  
  &.vertical_centered{
    align-items: center;
  }

  .row_name{  
    flex:1;
    &.centered{
      align-self: center;
      justify-self: center;
    }
    &.flex_fixed_width_5em{
      flex: 0 0 5em;
    }
  }

  
  .row_value{ 
    flex:2; 
    font-weight: normal; 
    &.wider{
      flex:6; 
    }
    &.bold{
      font-weight:bold; 
    }
  }
}


.ui-list .ui-row:first-child, .ui-list .ui-row:first-child .ui-row__link {
    border-radius: .25em .25em 0 0;
}

.c-detail .ui-row:before {
    content: "";
    position: absolute;
    left: 1.5em;
    bottom: -.0625em;
    right: 1.5em;
    border-bottom: .0625em solid #eee;
    z-index: 1;
}

.ui-avatar__content {
    width: 3.125em;
    height: 3.125em;
    font-size: 16px;
    overflow: hidden;
    border-radius: 50%;
}

ui-avatar__icon {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.ui-avatar__content {
    width: 3.125em;
    height: 3.125em;
    font-size: 16px;
    overflow: hidden;
    border-radius: 50%;
}

.ui-avatar__content--icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui-avatar__content--initials {
    border: .0625em solid #1890ff;
    background: #e6f7ff;
    line-height: 2.2;
    text-align: center;
}

.ui-avatar__content--initials span {
    display: block;
    margin: 0 auto;
    font-size: 1.375em;
    color: #1890ff;
    text-transform: uppercase;
    line-height: 2.2;
}



.c-notes {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
}

.c-notes__add-notes {
    line-height: 30px;
}

.c-notes__add-notes {
    width: 100%;
    border: 0;
}



.operations{
  .ant-card-body{
    padding:16px;
  }
}

/*HACK FOR FILTERS*/
.filter_form{
  /*background-color: #f0f0f0;*/
  /*padding:8px!important; */
  margin-bottom: 8px; 
  .ant-select, .ant-select-selection--multiple .ant-select-selection__choice{
    color: rgba(0, 0, 0, 0.85)!important;
  }
}

.filter_form.ant-form-inline{
  display: flex!important;
  flex-direction: row!important;
  justify-content: flex-start!important;
  /*align-items: flex-end;*/
}
.filter_form.ant-form-inline .ant-form-item{
  display: flex!important;
  flex-direction: column;
  /*justify-content: flex-end*/;
  margin-right: 8px;

}

.ant-form-item{
  margin-bottom: 0px!important;
}

.filter_form .ant-form-item-label{
  text-align: left!important;
  height:20px!important;
  line-height:20px!important;
}

/*.ant-form-item-label{
  height:20px!important;
  line-height:20px!important;
}*/

.filter_form .ant-form-item-label > label{
  color: rgba(0, 0, 0, 0.65)!important;
}

.filter_form .ant-select-dropdown, /* << HACK: Should be like this */
.ant-select-dropdown{
  min-width: 250px!important;
}

.filter_wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin: 0 0px;
  padding-bottom: 24px;
  background-color: #fff;
}

.ant-table-title{
  padding: 4px 4px;
  min-height:48px;
}
.request_mode_bank_trasnfers {
  .ant-table-title{
    background-color:#e6f7ff;
    padding: 8px 8px;
    min-height:48px;
  }
}